<body>
    <header class="header" role="navigation">
        <nav class="navbar navbar-dark
      " style="background-color: var(--bs-teal);">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Lectura Crítica</span>
                <img src="assets/logo.png" alt="logo de la página" width="50" height="50" (click)="redigigirLogin()">
            </div>
        </nav>
    </header>
    <div class="container">
        <main class="col-md-12">
            <div class="py-5">
                <div class="row g-4">
                    <div class="col-md-4">
                        <div class="card-body border border-1 rounded-3" style="border-color: var(--bs-teal);">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <form>
                                        <div class="mb-3">
                                            <label for="inputrepeatRequestEmail1" class="form-label">Request your email address</label>
                                            <input type="requestEmail" id="inputrequestEmail1" class="form-control" aria-describedby="requestEmailBlock" placeholder="name@example.com">
                                            <div id="requestEmailHelpBlock" class="form-text"></div>
                                        </div>
                                        <button type="submit" class="btn btn-dark" style="background-color: var(--bs-teal);">Send</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7 order-md-last">
                        <img src="assets/Imagen1.png" alt="fondo" width="100%" height="auto">
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>