<!--The content below is only a placeholder and can be replaced.-->
<header class="header" role="navigation">
    <nav class="navbar navbar-dark" style="background-color: var(--bs-teal);">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Lectura Crítica</span>
            <img src="assets/logo.png" alt="logo de la página" width="50" height="50">
        </div>
    </nav>
</header>
<div class="container">
    <main class="col-md-12">
        <div class="py-5">
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="card-body border border-1 rounded-3" style="border-color: var(--bs-teal);">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <form [formGroup]="LoginForm" (ngSubmit)="UserLogin()" novalidate>
                                    <div>
                                        <p *ngIf="errorFlag" class="text-orange txt-12">
                                            Usuario y/o contraseña incorrectos
                                        </p>
                                    </div>
                                    <div class="mb-3">
                                        <div *ngIf="LoginForm.get('username').errors && LoginForm.get('username').dirty">
                                            <p *ngIf="LoginForm.get('username').hasError('minlength')" class="text-orange txt-12">
                                                Nombre de usuario muy corto (min. 5 caracteres)
                                            </p>
                                            <p *ngIf="LoginForm.get('username').hasError('whitespace')" class="text-orange txt-12">
                                                Este campo no debe llevar espacios
                                            </p>
                                            <p *ngIf="LoginForm.get('username').hasError('maxlength')" class="text-orange txt-12">
                                                Nombre de usuario muy largo (max. 50 caracteres)
                                            </p>
                                        </div>
                                        <label for="exampleInputEmail1" class="form-label">Usuario o Email</label>
                                        <input formControlName="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                        <div *ngIf="LoginForm.get('password').errors && LoginForm.get('password').dirty">
                                            <p *ngIf="LoginForm.get('password').hasError('minlength')" class="text-orange txt-12">
                                                Contraseña muy corta (min. 8 caracteres)
                                            </p>
                                        </div>
                                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                                        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
                                    </div>
                                    <button type="submit" class="btn btn-dark" style="background-color: var(--bs-teal);" [disabled]="LoginForm.invalid">Iniciar Sesión</button>
                                </form>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <div id="passwordHelpBlock" class="form-text">
                                        Eres nuevo en esta página?
                                        <a class="available" (click)="registro()">Registrate</a>
                                    </div>
                                    <div id="passwordHelpBlock" class="form-text">
                                        Olvidate tú contraseña?
                                        <a class="available" (click)="restablecerPassword()">haz click</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7 order-md-last">
                    <img src="assets/Imagen1.png" alt="fondo" width="100%" height="auto">
                </div>
            </div>
        </div>
    </main>
</div>